[Desktop Entry]
Type=Application
Name=Parsec
Comment=Connect to remote computers with low-latency streaming.
Exec=parsecd %U
Icon=parsec
Terminal=false
Categories=Network;RemoteAccess;
